body{
    background-color: rgb(179, 255, 230);
}

div#meuPhp{
    padding: 25px;
    margin: 100px;
    min-height: 300px;
    border: 2px solid black;
    background-color: rgb(255, 237, 221);
    font: normal 10pt Arial;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.588);
}
