body{
    background-color: brown;
    font: normal 10pt Arial;
}

h1{
    font: bold 25pt Arial;
}

main{
    background-color: white;
    width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

